html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    width: 100%;
    position: fixed;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(6, 5, 50, 0.25);
    z-index: 100;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    background-color: white;
}

.header-container .left {
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.header-container .center {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.header-container .center ul {
    list-style: none;
    margin: auto 0 auto;
}

.header-container .center li {
    display: flex;
    column-gap: 35px;
}

.header-container .center ul a {
    text-decoration: none;
    color: black;
}

.header-container .center ul a:hover {
    text-decoration: none;
    color: #f46b45;
    transform: translateY(-2px);
}

.header-logo {
    height: 120px;
}

.left span a {
    text-decoration: none;
    color: black;
}

.header-buttons {
    border: medium none;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 16px;
    height: 35px;
    line-height: 16px;
    background-color: rgb(243, 243, 247);
    color: rgb(143, 143, 143);
    transition-duration: 100ms;
}

.header-buttons:hover,
.header-buttons:focus {
    box-shadow: 0px 1px 5px black;
    color: black;
}

.header-container .right {
    display: flex;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    column-gap: 10px;
}

main {
    flex: 1 0 auto;
    margin-top: 130px;
    position: relative;
    box-sizing: border-box;
    padding: 0px calc(50% - 640px);
    width: 100%;
}

main article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: Black;
    position: sticky;
    max-width: 1280px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    justify-content: center;
}

footer {
    flex: 0 0 auto;
    background-color: #f1f1f1;
    min-height: 120px;
    box-sizing: border-box;
    box-shadow: 0px -2px 10px rgba(6, 5, 50, 0.25);
}

main {
    margin-bottom: 100px;
}

.color-white {
    display: flex;
    color: white;
    font-size: 200px;
    justify-content: center;
}

.invalid {
    background-color: #FF9898;
}

.invalid-text {
    color: #FF9898;
    ;
}

.product_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.card {
    width: 300px;
    box-sizing: border-box;
    margin: 0 10px 10px 10px;
}

.disabled-button {
    display: none;
}

.offcanvas-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    background-color: white;
    padding: 24px 24px 35px;
    box-shadow: 0px -2px 10px rgba(6, 5, 50, 0.25);
}

.offcanvas-body-color {
    background: rgb(243, 243, 247);
}

.productDiv-castom {
    margin-top: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(6, 5, 50, 0.25);
    border-radius: 5px;
    padding: 8px 8px;
}

.reviews-footer a {
    color: black;
}

.reviews-footer a:hover {
    text-decoration: none;
    color: #f46b45;
}

.link-class {
    color: black;
}

.link-class:hover {
    text-decoration: none;
    color: #f46b45;
}

.button-color {
    background-color: white;
    border: var(--bs-btn-border-width) solid gray;
    --bs-btn-color: black;
    --bs-btn-active-border-color: none;
}

.button-color:hover,
.button-color:focus,
.button-color:disabled {
    background: linear-gradient(180deg, #eea849 10%, #f46b45);
    border: 1px solid transparent;
}

.categoryCard {
    margin-top: 75px;
    margin-bottom: 25px;
}

.card img:hover {
    transition-duration: 250ms;
}

.card img:hover {
    transform: translateY(10px);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articleProduct-footer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productPrice-section {
    display: flex;
    flex-direction: row;
}

.productDiv-info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(226, 226, 233);
}

.productDiv-priceAndCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.productDiv-buttons {
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 243, 247);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    width: 100px;
    height: 32px;
}

.button-forDivProdDiv {
    background: none;
    border: none;
    padding: 0 8px;
}

.cartTotalPrice-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderButton-custom {
    width: 100%;
    border-radius: 25px;
    padding: 5px 0px;
    background: linear-gradient(180deg, #eea849 10%, #f46b45);
    border: 1px solid transparent;
    color: white;
}

.orderButton-custom:hover {
    background: linear-gradient(180deg, #c68d3d 10%, #de613f);
}

.icon {
    line-height: 0px;
}

.OrderContent {
    display: flex;
    flex-direction: row;
    column-gap: 25%;
}

.rightSideOrder {
    box-shadow: 0px 0px 10px rgba(6, 5, 50, 0.25);
    width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 24px;
}

.productOrderSection {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 15px;
}

.order-info {
    border-bottom: 1px solid rgb(226, 226, 233);
}

.OrderTotalPrice {
    margin-top: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: 12px;
}

.title {
    font-size: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.input-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background: rgb(243, 243, 247);
    border: 1px solid rgb(226, 226, 233);
}

.order-accept-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Rating */
.rating-area {
    overflow: hidden;
    width: 210px;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}


.rating-mini {

    display: inline-block;

    font-size: 0;

}

.rating-mini span {

    padding: 0;

    font-size: 20px;

    line-height: 1;

    color: lightgrey;

}

.rating-mini span:before {
    content: '★';
}

.rating-mini span.active {
    color: gold;
}

.send-review-button {
    background: linear-gradient(180deg, #eea849 10%, #f46b45);
    color: white;
    --bs-btn-border-color: 1px solid transparent;
    --bs-btn-hover-border-color: 1px solid transparent;
}

.send-review-button:hover {
    background: linear-gradient(180deg, #c68d3d 10%, #de613f);
}

.menu-for-mobile {
    display: none;
}

.mobile-header-buttons {
    display: none;
}

.orderMobile{
    display: none;
}

.userCounterStats{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 960px) {
    .header-logo {
        height: 80px;
    }

    .header-container .center {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 12px;
    }

    .header-container .center ul {
        list-style: none;
        margin: auto 0 auto;
    }

    .header-container .center li {
        display: flex;
        column-gap: 15px;
    }

    .menu-for-mobile {
        display: block;
    }

    .header-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        max-width: 960px;
        justify-content: space-between;
        background-color: white;
    }

    .page-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.7rem;
        color: Black;
        position: sticky;
        max-width: 960px;
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    .mobile-header-buttons {
        display: block;
    }

    .header-button-desktop {
        display: none;
    }

    .menu-for-mobile {
        margin: 0px 10px;
    }

    .header-buttons {
        font-size: 15px;
        height: 25px;
    }

    main {
        padding: 0px 50px;
    }

    footer {
        flex: 0 0 auto;
        background-color: #f1f1f1;
        min-height: 80px;
        box-sizing: border-box;
        box-shadow: 0px -2px 10px rgba(6, 5, 50, 0.25);
    }

    .categoryCard {
        margin-top: 55px;
        margin-bottom: 25px;
    }

    .reviews-content img {
        height: 300px;
    }

    .orderDesktop{
        display: none;
    }

    .orderMobile{
        display: block;
    }

    .OrderContent {
        display: flex;
        flex-direction: column;
        column-gap: 25%;
    }

    .rightSideOrder {
        box-shadow: 0px 0px 10px rgba(6, 5, 50, 0.25);
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 24px;
    }
}