{% extends "base.html" %}

{% block description %}Trembolo - доставка еды в городе Тюмени. У нас есть пиццы, закуски, десерты, напитки. Доставляем в любую точку города. Поделитесь эмоциями о съеденной пицце в разделе отзывы.{% endblock description %}
{% block keywords %}Пицца, закуски, десерты, напитки, доставка {% endblock keywords %}

{% block content %}
    <div class="reviews-content">
    <a href="{{ url_for('home.index') }}"><img src="{{ url_for('static',filename='images/denied.png')}}"></a>
    <h1>Доступ к данной странице ограничен!</h1>
    </div>
{% endblock content %}