{% extends "base.html" %}

{% block title %}
Смена пароля
{% endblock title %}

{% block content %}

{% for category, message in get_flashed_messages(with_categories=true) %}
{% if category == 'success'%}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endif %}
{% endfor %}

<form method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
    <div class="mb-3">
        {{ field.label(class="form-label") }}
        {% if field.errors %}
        {{ field(class="form-control invalid")}}
        {% for error in field.errors%}
        <div class="form-text invalid-text">*{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ field(class="form-control") }}
        {% endif %}
    </div>
    {% endfor %}
    {{ form.submit(class="btn btn-primary button-color") }}
</form>

{% endblock content %}