{% extends "base.html" %}

{% block title %}Смена пароля{% endblock title %}

{% block description %}Страница смены пароля. Укажите новый пароль и подтвердите его. Если пароли совпадают, то на
аккаунте, к которому привязана почта с сообщение о восстановлении пароля, изменится пароль.{% endblock description %}
{% block keywords %}Смена пароля, пароль{% endblock keywords %}

{% block content %}

<form method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
    <div class="mb-3">
        {{ field.label(class="form-label") }}
        {% if field.errors %}
        {{ field(class="form-control invalid")}}
        {% for error in field.errors%}
        <div class="form-text invalid-text">*{{ error }}</div>
        {% endfor %}
        {% else %}
        {{ field(class="form-control") }}
        {% endif %}
    </div>
    {% endfor %}
    {{ form.submit(class="btn btn-primary button-color") }}
</form>

{% endblock content %}