{% extends "base.html" %}

{% block title %}
    Регистрация
{% endblock title %}

{% block styles %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
{% endblock styles %}
  
{% block description %}Страница регестрации нового аккаунта на сайте Trembolo. Заполните все поля, и для вас будет создан новый аккаунт. Ваши личные данные будут отображены в профиле.{% endblock description %}
{% block keywords %}Регистрация, новый аккаунт{% endblock keywords %}

{% block content %}
    <h1>Регистрация</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      {% if category == 'success' %}
          <div class="alert alert-success" role="alert">
              {{message}}
          </div>
      {% else %}
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
      {% endif %}
    {% endfor %}

    <form class="row g-3" method="post">
      {{ form.hidden_tag() }}

      {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        {% if field.name == 'address' %}
          {{ form_field("col-mb-3", field, "form-control address", "form-control invalid address") }}
        {% else %}
          {{ form_field("col-md-6", field, "form-control", "form-control invalid") }}
        {% endif %}
      {% endfor %}

      {{ form.submit(class="btn btn-primary button-color") }}
    </form>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/dist/jquery.maskedinput.js')}}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>  
    <script>
        jQuery(function ($) {
        $("#phone").mask("+7 (999) 999-9999");
    });
    </script>
{% endblock scripts %}

{% macro form_field(div_class, field, field_class, error_field_class) %}
  <div class={{ div_class }}>
    {{ field.label(class="form-label") }}
    {% if field.errors %}
        {{ field(class= error_field_class) }}
      {% for error in field.errors %}
      <div class="form-text invalid-text">*{{ error }}</div>
      {% endfor %}
    {% else %}
      {{ field(class=field_class) }}
    {% endif %}
  </div>
{% endmacro %}